@import url("https://use.typekit.net/kkw5vwq.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timer-nums {
  font-size: 5em;
  font-family: "gigalypse", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.rotated-progress-bar {
  transform: rotate(215deg);
  transform-origin: center;
}

.rotated-progress-bar .CircularProgressbar-text {
  transform: rotate(145deg);
  transform-origin: center;
}
